extends layout

block content
  .container
    .row
      .col-md-12
        section.insert
          h3 Insert Data
          form.add(action='/users/add', method='post')
            .col-md-6.col-sm-6
              .input
                label(for='firstName') First Name
                input(type='text', name='firstName')
              .input
                label(for='lastName') Last Name
                input(type='text', name='lastName')
              .input
                label(for='email') Email *required
                input(type='text', name='Email' required)
              .input
                label(for='username') Username *required
                input(type='text', name='username' required)
              .input
                label(for='password') Password *required
                input(type='password', name='password' required)
              button.btn.btn-danger(type='submit') Add User