doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style-login.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body   
    block content
    container
      .row
        .col-md-6.col-md-offset-3
          .panel.panel-login
            .panel-heading
              .row
                .col-xs-6
                  a#login-form-link.active(href='') Login
                .col-xs-6
                  a#register-form-link(href='') Register
              hr
            .panel-body
              .row
                .col-lg-12
                  form#login-form(action='/login', method='post', role='form', style='display: block;')
                    .form-group
                      if (invalidMessage.length > 0)
                        p.invalid #{invalidMessage}
                      if (errors)
                        for error in errors
                          p.invalid
                            | #{error.msg}
                      label(for='username') Username*
                      input#username.form-control(type='text', name='username', tabindex='1', value='', required)
                    .form-group
                      label(for='password') Password*
                      input#password.form-control(type='password', name='password', tabindex='2', required)
                    .form-group
                      .row
                        .col-sm-6.col-sm-offset-3
                          input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Log In')
                  form#register-form(action='/register', method='post', role='form', style='display: none;', onsubmit='return validation()')
                    .form-group
                      label(for='firstName') First Name*
                      input#firstName.form-control(type='text', name='firstName', tabindex='1', value='', required)
                    .form-group
                      label(for='lastName') Last Name*
                      input#lastName.form-control(type='text', name='lastName', tabindex='1', value='', required)
                    .form-group
                      label(for='email') Email*
                      input#email.form-control(type='email', name='email', tabindex='1', value='', required, maxlength='40')
                    .form-group
                      label(for='username') Username*
                      input#username.form-control(type='text', name='username', tabindex='1', value='', required, onkeypress="return onlyAlphabets(event,this);", placeholder='Must be 8 Alpha Characters Long')
                    .form-group
                      label(for='password') Password*
                      input#pass1.form-control.password(type='password', name='password', tabindex='2', required)
                    .form-group
                      label(for='confirmPassword') Confirm Password*
                      input#pass2.form-control.confirm-password(type='password', name='confirmPassword', tabindex='2', onkeyup="checkPass(); return false;", required)
                      span#confirmMessage.confirmMessage
                    .form-group
                      .row
                        .col-sm-6.col-sm-offset-3
                          input#register-submit.form-control.btn.btn-register(type='submit', name='submit', tabindex='4', value='Register Now')

    script(src="/javascripts/jquery.js", type="text/javascript")
    script(src="/javascripts/bootstrap.min.js", type="text/javascript")
    script(src="/javascripts/login.js", type="text/javascript")


